<title></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<div class="container" style="min-width: 245px;max-width: 1920px;position: relative;padding: 10px;border: 1px dotted #ddd;background-color: #eee;">
<div class="header" style="border: 1px dotted #ddd;min-height: 120px;border-radius: 5px 5px 0 0;background-color: #fff;padding: 10px 0;">
<h3 dir="ltr" style="text-align: center;">&nbsp; &nbsp; &nbsp;<strong><span style="font-size:16px;"> </span><span style="color:#0000FF;"><span style="font-size:14px;">AIR SEA LAND SHIPPING &amp; MOVING INC.</span><span style="font-size:16px;">&nbsp; </span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size:12px;">BILL OF LADING</span></span></strong></h3>

<h5 dir="ltr" style="text-align: center;"><span style="font-size:12px;"><font color="#0000ff"><b>FMC-OTI No.024377NF&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;FOR PORT-TO-PORT OR COMBINED TRANSPORT</b></font></span></h5>
<style type="text/css">.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;border-left:none;border-right: none;font-size:14px;padding: 0px 2px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;border-left:none;border-right: none;font-size:14px;font-weight:normal;padding:0px 2px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cpu2{border-color:#000000;vertical-align:top}
.tg .tg-us36{border-color:inherit;vertical-align:top}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
</style>
<div class="tg-wrap">
<table align="center" border="0" cellpadding="0" class="tg" dir="ltr" style="height:300px;width:600px;">
	<tbody>
		<tr>
			<td class="tg-cpu2" colspan="2" rowspan="2">
			<p><span style="font-size:10px;"><strong><span style="color:#0000FF;">SHIPPER</span></strong></span><br />
			<span style="font-size:10px;"><strong>AIR SEA LAND SHIPPING &amp;MOVING INC<br />
			AS AGENT FOR MR. IMMANUEL HAMUNYELA<br />
			211 EAST 43RD ST, SUIT # 1206<br />
			NEW YORK, NY 10017</strong></span></p>
			</td>
			<td class="tg-us36">
			<p><strong style="font-family: Arial, sans-serif; font-size: 14px;"><span style="font-size:10px;"><span style="color: rgb(0, 0, 255);">REFERENCE<span style="font-size: 12px;"><span style="color: rgb(0, 0, 255);"> </span></span>NO</span></span><span style="font-size: 12px;"><span style="color: rgb(0, 0, 255);">.</span></span></strong><br />
			<span style="font-size:10px;"><strong>003570-00</strong></span></p>
			</td>
			<td class="tg-us36">
			<p><strong style="font-family: Arial, sans-serif; font-size: 14px;"><span style="font-size:10px;"><span style="color: rgb(0, 0, 255);">CARRIER BOOKING<span style="font-size: 12px;"><span style="color: rgb(0, 0, 255);"> </span></span>NO.</span></span></strong><br />
			<span style="font-size:10px;"><strong>965840633</strong></span></p>
			</td>
		</tr>
		<tr>
			<td class="tg-us36" colspan="2">
			<p><span style="font-size:10px;"><font color="#0000ff"><b>EXPORT REFERENCES</b></font></span><br />
			<span style="font-size:10px;"><strong>003570-00</strong></span></p>
			</td>
		</tr>
		<tr>
			<td class="tg-us36" colspan="2" rowspan="2">
			<p><strong style="font-family: Arial, sans-serif; font-size: 14px;"><span style="font-size:10px;"><span style="color: rgb(0, 0, 255);">CONSIGNEE - ( NOT NEOTIABLE UNLESS CONSIGNED TO<span style="font-size: 12px;"><span style="color: rgb(0, 0, 255);"> </span></span>ORDER)</span></span></strong><br />
			<span style="font-size:10px;"><strong>MR.&nbsp;&nbsp;</strong><span style="font-family: Arial, sans-serif;"><strong>IMMANUEL HAMUNYELA<br />
			C/O STUTTSFOED VAN LINES<br />
			7-9 DANZING STREET<br />
			LAFRENZ, WINDHOEK NAMIBIA<br />
			TEL : 264 61 22 4691</strong></span></span></p>
			</td>
			<td class="tg-us36" colspan="2"><b style="color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 12px;"><span style="font-size:10px;">FORWARDING AGENT</span> - <span style="font-size:10px;">Reference</span></b><br />
			<strong style="font-family: Arial, sans-serif; font-size: 10px;">003570-00</strong></td>
		</tr>
		<tr>
			<td class="tg-us36" colspan="2"><span style="font-size:10px;"><font color="#0000ff"><b>POINT AND COUNTRY OF ORIGIN</b></font></span><br />
			<span style="font-size: 10px;"><b>UNITED STATES OF AMERICA</b></span></td>
		</tr>
		<tr>
			<td class="tg-us36" colspan="2" rowspan="2"><span style="font-size:10px;"><font color="#0000ff"><b>NOTIFY PARTY</b></font></span><br />
			<b style="font-family: Arial, sans-serif; font-size: 10px;">WORLD NET LOGISTICS (PTY) LTD<br />
			LANGER HEINRICH STREET, SAPHIER PARK UNIT 8 , NEW INDUS TRAIL AREA<br />
			WALVIS BAY NAMIBIA.<br />
			EMAIL: EXAMPLE@ONE.COM<br />
			TEL: 2245666552</b></td>
			<td class="tg-us36" colspan="2" rowspan="2"><b style="color: rgb(0, 0, 255); font-family: Arial, sans-serif; font-size: 12px;"><span style="font-size:10px;">ALSO NOTIFY - ROUTING</span> <span style="font-size:10px;">INSTRUCTIONS</span></b></td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td class="tg-us36"><span style="font-size:10px;"><font color="#0000ff"><b>PIER</b></font></span></td>
			<td class="tg-us36"><span style="font-size:10px;"><font color="#0000ff"><b>PLACE OF RECEIPT by PRE-CARRIER</b></font></span></td>
			<td class="tg-us36" colspan="2" rowspan="3"><span style="font-size:10px;"><font color="#0000ff"><b>RELEASE AGENT</b></font></span></td>
		</tr>
		<tr>
			<td class="tg-us36"><span style="font-size:10px;"><font color="#0000ff"><b>VESSEL AND VOYAGE NUMBER</b></font></span><br />
			<span style="font-size: 10px;"><b>CONTI EVEREST 832E</b></span></td>
			<td class="tg-us36"><span style="font-size:10px;"><font color="#0000ff"><b>PORT OF LOADING</b></font></span><br />
			<span style="font-size: 10px;"><b>NEWARK</b></span></td>
		</tr>
		<tr>
			<td class="tg-us36"><span style="font-size:10px;"><font color="#0000ff"><b>PORT OF DISCHARGE</b></font></span><br />
			<span style="font-size: 10px;"><b>WALVIS BAY, NAMIBIA</b></span></td>
			<td class="tg-us36"><span style="font-size:10px;"><font color="#0000ff"><b>PLACE OF DELIVERY</b></font></span><br />
			<b style="font-family: Arial, sans-serif; font-size: 10px;">WALVIS BAY, NAMIBIA</b></td>
		</tr>
	</tbody>
</table>
</div>

<p dir="ltr">&nbsp;</p>

<p dir="ltr">&nbsp;</p>
</div>

<p dir="ltr" style="text-align: center;"><span style="font-size: 12px;"><b>www.airsealandinc.net</b></span></p>
</div>
